.banner {
  font-family: Noto serif display;
  background-image: url(../../images/voyage1.jpg);   
  background-size: cover;
  padding: 200px 0px;
  color: black;
  text-align: center;
  font-size: xx-large;
 
 }